
<tr>  
    <td><%= question.question%></td>
    <td><%= question.question_type%></td>
    <td><%= link_to 'Edit', edit_survey_question_path(question.survey, question), :class => 'btn btn-warning' %> | <%= link_to 'Destroy', [question.survey, question], :class => 'btn btn-danger',
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
</tr>